html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  box-sizing: border-box; }

p {
  font-size: 1.1rem; }

h1 {
  font-size: 72px;
  font-weight: 100;
  margin: 0; }

h2 {
  font-size: 36px;
  margin-bottom: 30px; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

a {
  color: inherit; }

.section-text a {
  color: #73b0b5;
  -webkit-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -ms-transition: 0.1s all linear;
  transition: 0.1s all linear; }

.section-text a:hover {
  color: #a89e68; }

.right-lg {
  text-align: right; }

.right-sm {
  text-align: right; }

.left-lg {
  text-align: left;
  padding-left: 20px; }

.center {
  text-align: center !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.top-center {
  background-position: top center; }

.center-center {
  background-position: center center; }

.bottom-center {
  background-position: bottom center; }

.m-neg {
  margin-left: -7%;
  margin-right: -7%; }

.py-xl {
  padding-top: 10%;
  padding-bottom: 10%; }

.py-m {
  padding-top: 5%;
  padding-bottom: 5%; }

.p-xl {
  padding: 10% 10%; }

.px-xl {
  padding: 10% 0; }

.pl-m {
  padding-left: 5%; }

.pr-m {
  padding-right: 5%; }

.mw-6 {
  max-width: 600px; }

.mw-9 {
  max-width: 900px; }

.no-py {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.no-px {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.no-p {
  padding: 0 !important; }

.the-page {
  -webkit-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  transition: 0.5s all linear;
  overflow: hidden;
  min-height: 1px; }

.the-page.Hidden {
  opacity: 0; }

.page-width {
  padding: 0px 10%;
  position: relative; }

.lightest-blue-bg {
  background-color: #77c9d4;
  color: white; }

.light-blue-bg {
  background-color: #73b0b5;
  color: white; }

.dark-blue-bg {
  background-color: #5f9ca1;
  color: white; }

.dark-gold-bg {
  background-color: #a89e68;
  color: white; }

.light-gold-bg {
  background-color: #e0d894;
  color: white; }

.bg-w {
  background-color: white; }

.bg-dg {
  background-color: #a89e68;
  color: white; }

.bg-lg {
  background-color: #e0d894;
  color: white; }

.bg-db {
  background-color: #5f9ca1;
  color: white; }

.bg-lb {
  background-color: #73b0b5;
  color: white; }

.logo {
  max-width: 487px; }

.banner {
  height: 670px; }

.title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto; }

.mobile-navbar {
  width: 100%;
  height: 12%;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

.mobileMenu i {
  color: #77c9d4; }

.mobile-nav {
  display: none !important;
  height: 100%; }

.mobileMenuMainContainer {
  position: fixed;
  top: 12%;
  left: -100%;
  -webkit-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  width: 100%;
  height: 88%;
  background-color: white;
  overflow: hidden;
  padding: 0;
  z-index: 10;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.1), 0px 10px 20px -10px rgba(0, 0, 0, 0.2); }

.mobileMenuMainContainer.Active {
  left: 0; }

.mobileMenuMain {
  padding: 0px 12px;
  border-left: 1px solid rgba(255, 255, 255, 0.4); }

.mobileMenuMain li {
  padding: 10px;
  letter-spacing: 2px; }

.mobile-nav-logo {
  float: right; }

.mobile-nav-logo img {
  height: 45px; }

.mobile-title {
  height: 15%;
  background-color: #77c9d4;
  width: 100%;
  border-bottom: 5px solid white; }

.mobile-title p {
  color: white;
  margin-bottom: 0px;
  letter-spacing: 8px; }

.mobile-menu {
  height: 65%;
  overflow: hidden;
  background-color: #5f9ca1;
  width: 100%;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.mobile-menu ul a {
  color: white;
  text-align: left; }

.mobile-menu.Hidden {
  height: 0; }

.mobileCall {
  border-right: 1px solid white; }

.mobile-buttons {
  height: 20%;
  background-color: #e0d894;
  width: 100%;
  border-top: 5px solid white; }

.mobile-button {
  width: 49%;
  display: inline-block;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9); }

.mobileCall a, .mobileEmail a, .mobileChat a {
  color: white; }

.mobile-msg {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.mobile-msg input {
  height: 24px;
  width: 100%; }

.mobile-msg.Active {
  height: 65%; }

.chat-box {
  height: 95%; }

#navDesktop {
  display: block; }

.bold-nav {
  text-align: center; }

.nav-title {
  width: 415px;
  letter-spacing: 12px;
  margin: auto; }
  .nav-title p {
    color: #a89e68;
    -webkit-transition: color 0.25s ease-in;
    -o-transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    -ms-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    margin-right: -10px;
    text-transform: uppercase; }
  .nav-title p:hover {
    color: #e0d894; }

.nav-links {
  display: inline-block; }
  .nav-links ul {
    margin-bottom: 0; }
  .nav-links li {
    display: inline-block;
    padding: 1rem;
    background-color: #5f9ca1;
    color: white;
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
  .nav-links li:hover {
    background-color: white;
    color: #5f9ca1; }
  .nav-links a {
    color: inherit; }

.contact-links {
  display: inline-block; }

.contact-links li {
  padding-left: 22px;
  padding-right: 22px;
  background-color: #a89e68; }

.contact-links li:hover {
  color: #a89e68; }

.contactBanner {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat; }

.nav-tweaks {
  background-color: white; }
  .nav-tweaks li {
    position: relative;
    padding: 10px 20px;
    font-size: 1.3em;
    display: inline-block;
    background-color: white;
    color: white;
    -webkit-transition: background-color 0.075s ease-in;
    -o-transition: background-color 0.075s ease-in;
    -moz-transition: background-color 0.075s ease-in;
    -ms-transition: background-color 0.075s ease-in;
    transition: background-color 0.075s ease-in; }
  .nav-tweaks li:hover {
    background-color: white;
    color: white; }
  .nav-tweaks a:hover {
    color: white;
    text-decoration: none; }

.nav-icons {
  background-color: #5f9ca1; }
  .nav-icons li {
    font-size: 1.3em;
    display: inline-block;
    background-color: #5f9ca1;
    color: #73b0b5;
    height: 51px;
    width: 51px;
    padding: 9px;
    text-align: center;
    -webkit-transition: background-color 0.075s ease-in;
    -o-transition: background-color 0.075s ease-in;
    -moz-transition: background-color 0.075s ease-in;
    -ms-transition: background-color 0.075s ease-in;
    transition: background-color 0.075s ease-in; }
  .nav-icons li:hover {
    background-color: white;
    color: #5f9ca1; }
  .nav-icons a:hover {
    color: #5f9ca1; }

.img-bg-2 {
  position: relative;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center; }

.mobileBannerText {
  line-height: 50px;
  text-transform: uppercase; }

.bg-cover {
  background-size: cover; }

.img-bg-6 {
  position: relative;
  background-position: 50% 75%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  box-shadow: inset 0px 11px 20px -10px rgba(0, 0, 0, 0.5), inset 0px -11px 20px -10px rgba(0, 0, 0, 0.5); }

.img-hov-exp {
  position: re;
  -webkit-transition: transform 0.125s ease-in;
  -o-transition: transform 0.125s ease-in;
  -moz-transition: transform 0.125s ease-in;
  -ms-transition: transform 0.125s ease-in;
  transition: transform 0.125s ease-in; }

.img-hov-exp:hover {
  transform: scale(1.1); }

.blanket {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35); }

.block-shadow {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }

.call-to-action {
  width: 200px;
  height: 65px;
  cursor: pointer;
  box-shadow: 0px 10px 31px 0px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  font-weight: 600;
  padding-top: 18px;
  margin-top: 30px; }

.cta-button {
  cursor: pointer;
  text-align: center;
  min-width: 250px;
  padding: 10%;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }

.cta-button p {
  margin-bottom: 0; }

.cta-button:hover {
  background-color: #73b0b5; }

.img-desktop-container {
  position: relative;
  z-index: 10;
  background-color: #5f9ca1;
  height: 95vh;
  overflow: hidden; }

.text-cliff {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  text-align: right; }

.text-cliff h1 {
  font-size: 233.2px;
  line-height: 160px;
  color: white;
  text-shadow: -3px -1px 10px rgba(0, 0, 0, 0.2); }

.text-cliff h3 {
  margin-bottom: 0;
  z-index: 12; }

.text-cliff span {
  background-color: white;
  font-size: 82px;
  line-height: 102px;
  padding-left: 10px;
  z-index: 13;
  box-shadow: -10px 0px 10px -7px rgba(0, 0, 0, 0.2); }

.lp-gallery-img, .lp-gallery-img-lg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  z-index: 0;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  position: relative;
  z-index: 15; }

.lp-gallery-txt, .lp-gallery-txt-right {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  top: -22px; }

.lp-gallery-txt-right {
  right: 0; }

.lp-gallery-txt span, .lp-gallery-txt-right span {
  font-size: 36px;
  color: black;
  border: 5px solid #77c9d4;
  padding: 10px;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  position: relative;
  background-color: white; }

.lp-gallery-txt a, .lp-gallery-txt-right a {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2); }

.lp-gallery-txt span:hover, .lp-gallery-txt-right span:hover {
  background-color: #77c9d4;
  color: white; }

.img-album {
  height: 200px; }

.img-mobile {
  display: none; }

#lp-water {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  height: 130px;
  display: none;
  background-color: #77c9d4; }

.img-desktop {
  max-width: 100%;
  overflow: hidden; }

.lp-bold {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
  cursor: pointer; }

#lp-bold-gold {
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in;
  -o-transition: 0.2s opacity ease-in;
  -moz-transition: 0.2s opacity ease-in;
  -ms-transition: 0.2s opacity ease-in;
  transition: 0.2s opacity ease-in; }

#lp-bold-gold:hover {
  opacity: 1; }

#lp-bold-mobile {
  display: none; }

.letter {
  width: 90%;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  box-shadow: 10px 10px 35px 0px rgba(133, 133, 133, 0.36); }
  .letter p {
    text-align: left;
    line-height: 24px;
    font-size: 14px; }

@media (max-width: 1700px) {
  .img-desktop-container {
    height: initial; } }
@media (max-width: 1600px) {
  .page-width {
    padding: 0px 5%; } }
@media (max-width: 1250px) {
  .page-width {
    padding: 0px 2%; } }
@media (max-width: 1199px) {
  .call-to-action {
    margin: auto;
    margin-top: 30px; }

  .left-lg {
    text-align: center;
    margin: auto;
    padding-left: initial;
    padding: 10px; }

  .left-lg p {
    max-width: 500px;
    margin: auto; }

  .right-lg {
    text-align: center;
    margin: auto; } }
@media (max-width: 1100px) {
  .contactBanner {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center; } }
@media (max-width: 768px) {
  .p-xl {
    padding: 10% 5%; }

  .p-xl {
    padding: 15% 5%; }

  .pr-m {
    padding-right: 0; }

  .lp-bold {
    position: relative;
    height: initial;
    max-width: 100%;
    background-color: #77c9d4; }

  #lp-bold-gold, #lp-bold-blue {
    display: none; }

  #lp-bold-mobile {
    display: block;
    transform: translateY(-30px);
    z-index: 99; } }
@media (max-width: 730px) {
  #navDesktop {
    display: none !important; }

  .mobile-nav {
    display: flex !important; } }
@media (max-width: 650px) {
  .text-cliff h1 {
    font-size: 118.25px;
    line-height: 79px; }

  .text-cliff span {
    font-size: 41px;
    line-height: 51px; }

  .banner {
    height: 70vh; } }
@media (max-width: 576px) {
  h2 {
    font-size: 24px;
    margin-bottom: 30px; }

  .page-width {
    padding: 0px 1%; }

  .lp-gallery-img {
    max-height: 250px; }

  .lp-gallery-txt span, .lp-gallery-txt-right span {
    font-size: 18px; }

  #lp-water {
    height: 125px; } }

/*# sourceMappingURL=sass.css.map */
